<div class="pupil"></div>
<div class="diploma">
    <h2>2008-2012 French Engineering school Centrale Lyon</h2>

    <p>Centrale Lyon is one of the top 10 French engineering school and gives a generalist formation to its student in
        many different field</p>
    <ul>
        <li>civil engineering</li>
        <li>mechanic</li>
        <li>chemistry</li>
        <li>...</li>
    </ul>

    <p>Starting from the second year, you can select the courses you will attend, and the last year will be dedicated to
        specialization. I chose <em>computer science</em> and <em>software engineering</em>.</p>
    <a href="#">
        <img src="../logo.png" alt="centrale Lyon logo"/>
    </a>
</div>
